<!-- Hero -->
 <section class="hero-section">
    <div class="container hero-section-container">
      <h1 class="visually-hidden">Crazy saga</h1>
      <div class="hero-wrapper">
        <picture class="hero-picture">
            <source srcset="
                    /img/hero/hero-img-desk.png  1x,
                    /img/hero/hero-img-desk@2x.png 2x
                                          " media="(min-width: 1439px)" />
            <source srcset="
                    /img/hero/hero-img-mob.png   1x,
                    /img/hero/hero-img-mob@2x.png 2x
                                          " media="(max-width: 1438px)" />
            <img class="title-img" src="/img/hero/hero-img-mob.png" alt="Crazy Saga" loading="lazy" />
        </picture>
        <div class="hero-text-wrapper">
        <h2 class="hero-subtitle">Get Ready for a Crazy Colorful Adventure!</h2>
        <p class="second-hero-text">Step into the vibrant puzzle world of Crazy Saga – Match 3 Games and match your way through hundreds of exciting levels!</p>
        <button type="button" class="hero-button">
            <a href="#" class="hero-button-link">
                <img class="google-img" src="/img/hero/google.png" alt="Google" loading="lazy">                
            </a>
            <p class="button-text">Google Play</p>
        </button>
    </div> 
      </div>       <source srcset="
                           /img/hero/snapedit.png   1x,
                           /img/hero/snapedit@2x.png 2x
                                                  " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/snapedit.png" alt="Snapedit" loading="lazy" />
    </div>
 </section>