.footer{
    background: #ffd562;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            color: #1e1e1e;
}
.footer-navigation{
display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.desk-line{
    display: none;
}
@media only screen and (min-width: 1439px) {
    .footer-section-container{
        padding: 48px 72px;
    }
.footer-container {
        gap: 24px;
    }
.footer-navigation {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: right;
    margin-right: 0;
    margin-left: auto;
}
.desk-line {
    display: inline;
}
}
